body {
    background-image: url("./garrett-parker-247217-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.title, .description, .description-2 {
    text-align: center;
}

.title {
    /* color: rgb(202, 88, 117); */
    color: #d9235f;
    font-size: 3.5em;
}

.container {
    width: 75%;
    border-radius: 5px;
    margin: 0 auto;
    height: 400px;
    border: 1px dotted white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px
}
.description {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 50px;
}

.product-features {
    display: flex;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

.feature {
    background-color: #7c9dbd;
    border: 2px dashed white;
    height: 150px;
    width: 30%;
    margin: auto;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(25, 23, 23, 0.85), 0 6px 20px 0 rgba(35, 17, 17, 0.67);
}

.feature h3 {
    font-size: 18px;
}

.sign-up {
    text-align: center;
}

.sign-up button {
    height: 40px;
    width: 150px;
    border-radius: 5px;;
    display: block;
    margin: 0 auto;
}

.sign-up a {
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

button.join {
    background-color: #d9235f;
}

button.login {
    background-color: #5a5e62;
}