.registration-form {
    text-align: center;
    width: 75%;
    margin: 40px auto 0px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 2px dotted white;
}

.registration-form input {
    font-size: 14px;
    height: 25px;
    width: 200px;
    text-align: center;
}

.registration-form label {
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-input {
    margin-bottom: 8px;
}



button {
    height: 40px;
    width: 150px;
    border-radius: 5px;;
    display: block;
    margin: 20px auto 0 auto;
    background-color: #d9235f;
    color: white;
    font-size: 14px;
}

a {
    color: white;
    cursor: pointer;
}